@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}
