@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply w-full h-full m-0 p-0;
  }

  body {
    @apply min-h-screen bg-gray-50 text-gray-900;
  }
}
